html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background: #e1d7d5ff;
  z-index: -1;
}
/* ============================= */
/*        navigation bar         */
/* ============================= */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e5940;
  gap: 20px;
}
#navLogo {
  color: #070504ff;
}
#navBar {
  display: flex;
  gap: 20px;
  color: #e1d7d5ff;
}
#navBar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 110px;
}
#navBar a {
  color: #e1d7d5ff;
  font-size: xx-large;
  text-decoration: none;
}

/* ============================= */
/*    main content container     */
/* ============================= */
.main {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  min-width: 50%;
  color: #e1d7d5ff;
  height: 100%;
}
.topHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.content {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #32180fff;
  padding: 0;
  border-radius: 20px;
  z-index: 10;
  height: 50vh;
  background-image: url(../images/Untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.image {
  flex: 1;
  flex-grow: 1;
  background-color: #32180fff;
  padding: 0;
  border-radius: 20px;
  z-index: 10;
  height: 50vh;
  overflow: hidden;
  background-image: url(../images/pexels-marina-zvada-844583049-29486501\(1\).jpg);
  background-size: cover;
}

.typeOfBuilding {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 20px;
}
.typeOfBuilding > div > label > svg {
  width: 50px;
  height: 50px;
  background-color: #32180fff;
  fill: #070504ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typeOfBuilding > div > label > input {
  outline: none;
  background-color: #32180fff;
}
.typeOfBuilding > div:has(input:focus) > label > svg {
  background-color: #070504ff;
  fill: #e1d7d5ff;
}
.material {
  max-width: 100%;
  box-sizing: border-box;
}
.materialSelection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.materialSelection > label {
  background-color: #32180fff;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.materialSelection div > label:has(section:focus) > label {
  background-color: #070504ff;
  color: #070504ff;
}
.bottomHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.buildingArea {
  flex: 1;
  background-color: #32180fff;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
}
.buildingArea > input {
  background-color: #e1d7d5ff;
}
.result {
  flex: 2;
  background-color: #32180fff;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
}
.button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  font-size: large;
  border: none;
  border-radius: 100px;
  color: #e1d7d5ff;
  background-color: #070504ff;
  cursor: pointer;
}

/* ============================= */
/*        footer                 */
/* ============================= */

.footer {
  position: relative;
  padding: 20px;
  margin-top: -70px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e59ff;
  color: #070504ff;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footerIns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footerIns ul {
  display: flex;
  flex-direction: column;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  color: #32180fff;
}
.footerCopy {
  color: #070504ff;
}
#footerIcon {
  display: flex;
  gap: 20px;
  color: #32180fff;
}
