html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background: #e1d7d5ff;
  z-index: -1;
}
/* ============================= */
/*        navigation bar         */
/* ============================= */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e5940;
  gap: 20px;
  z-index: 10;
}
#navLogo {
  color: #070504ff;
}
#navBar {
  display: flex;
  gap: 20px;
  color: #e1d7d5ff;
}
#navBar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 110px;
}
#navBar a {
  color: #e1d7d5ff;
  font-size: xx-large;
  text-decoration: none;
}
/* ============================= */
/*    main content container     */
/* ============================= */
.main {
  margin-bottom: 150px;
}
.heading {
  color: yellow;
  font-size: 60px;
  text-shadow: 2px 2px 0 black;
  font-family: "Times New Roman", Times, serif;
  z-index: 10;
  margin-left: 200px;
}
.intro-paragraph {
  color: white;
  font-size: x-large;
  z-index: 10;
  width: 50%;
  margin-right: 50px;
}
.background {
  position: absolute;
  background-size: cover;
  background-position: center;
  top: -500px;
  z-index: -1;
  float: left;
  width: 50%;
  height: 10vh;
  object-fit: cover;
}
#intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 50vh;
  margin-left: 0px;
  margin-right: 0px;
}
.description {
  background-size: cover;
  background-position: center;
}
.portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}
.portfolio > img {
  width: auto;
  height: 250px;
  border: #070504ff;
  border-radius: 10px;
  box-shadow: 4px 7px 7px 0px;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}
/* ============================= */
/*        footer                 */
/* ============================= */

.footer {
  position: relative;
  padding: 20px;
  margin-top: -70px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e59ff;
  color: #070504ff;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footerIns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footerIns ul {
  display: flex;
  flex-direction: column;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  color: #32180fff;
}
.footerCopy {
  color: #070504ff;
}
#footerIcon {
  display: flex;
  gap: 20px;
  color: #32180fff;
}
