html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background: #e1d7d5ff;
  z-index: -1;
}
/* ============================= */
/*        navigation bar         */
/* ============================= */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e5940;
  gap: 20px;
}
#navLogo {
  color: #070504ff;
}
#navBar {
  display: flex;
  gap: 20px;
  color: #e1d7d5ff;
}
#navBar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  gap: 110px;
}
#navBar a {
  color: #e1d7d5ff;
  font-size: xx-large;
  text-decoration: none;
}
/* ============================= */
/*    main content container     */
/* ============================= */

.main {
  height: 100vh;
  padding-top: 0px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0px;
}

#form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 70vh;
  width: max(50%, 600px);
  padding: 5px;
  gap: 10px;
}
h2 {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: 300;
  text-shadow: #32180fff;
}
#form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
#form > div > label {
  width: 50px;
  height: 50px;
  background-color: #32180fff;
  fill: #070504ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
}
#form > div > input {
  box-sizing: border-box;
  min-width: 0;
  max-width: 500px;
  padding: 1em;
  border-radius: 0px 20px 20px 0px;
  border: 2px;
  color: #e1d7d5ff;
}

#form > div > input:focus {
  outline: none;
  background-color: #32180fff;
}
#form > div:has(input:focus) > label {
  background-color: #070504ff;
}

#form > button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  font-size: large;
  border: none;
  border-radius: 100px;
  color: #e1d7d5ff;
  background-color: #32180fff;
  cursor: pointer;
}

#backgroundImage {
  position: relative;
  height: 130vh;
  width: auto;
  background-size: contain;
  background-position: right;
  margin-top: -130px;
  padding-right: 0;
  justify-items: right;
  align-items: center;
  z-index: -1;
  overflow: hidden;
}

/* ============================= */
/*        footer                 */
/* ============================= */

.footer {
  position: relative;
  padding: 20px;
  margin-top: -70px;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #7b6e59ff;
  color: #070504ff;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footerIns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.footerIns ul {
  display: flex;
  flex-direction: column;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 40px;
  color: #32180fff;
}
.footerCopy {
  color: #070504ff;
}
#footerIcon {
  display: flex;
  gap: 20px;
  color: #32180fff;
}
